.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.one {
    grid-column: 1 / 3;
    grid-row: 1;
    border: 1px solid black;
}
.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    border: 1px solid purple;
}
.three {
    grid-column: 1;
    grid-row: 2 / 5;
    border: 1px solid green;
}
.four {
    grid-column: 3;
    grid-row: 3;
    border: 1px solid yellow;
}
.five {
    grid-column: 2;
    grid-row: 4;
    border: 1px solid blue;
}
.six {
    grid-column: 3;
    grid-row: 4;
    border: 1px solid red;
}
