.wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}
.nav-bar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 1px solid black;
}
.left-side-bar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 1px solid purple;
}
.drink-container {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 1px solid green;
}
.right-side-bar {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 1px solid yellow;
}
.bottom-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid blue;
}

#drink {
    border: 1px solid black;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}
